@model TdH_2.Models.frauds

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>frauds</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_incident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_incident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieu_incident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieu_incident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gravite_incident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gravite_incident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsabilite_tdh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsabilite_tdh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resume_incident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resume_incident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nature_de_lincident_nature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nature_de_lincident_nature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nature_de_lincident_autre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nature_de_lincident_autre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nature_de_lincident_estimation_du_montant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nature_de_lincident_estimation_du_montant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.details_de_lincident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details_de_lincident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preuves_significatives_signalement_superieur_hierarchique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preuves_significatives_signalement_superieur_hierarchique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preuves_significatives_signalement_superieur_hierarchique_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preuves_significatives_signalement_superieur_hierarchique_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preuves_significatives_une_implication_externe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preuves_significatives_une_implication_externe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preuves_significatives_une_implication_externe_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preuves_significatives_une_implication_externe_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preuves_significatives_avec_quelle_instance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preuves_significatives_avec_quelle_instance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preuves_significatives_si_autre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preuves_significatives_si_autre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mesures_prises_par_la_delegation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mesures_prises_par_la_delegation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recommandations_du_delegue_et_ou_de_la_personne_en_charge_des_finances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recommandations_du_delegue_et_ou_de_la_personne_en_charge_des_finances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personnes_impliquees_expatrie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personnes_impliquees_expatrie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personnes_impliquees_consultant_prestataire_expatrie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personnes_impliquees_consultant_prestataire_expatrie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personnes_impliquees_staff_national_tdh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personnes_impliquees_staff_national_tdh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personnes_impliquees_consultant_prestataire_local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personnes_impliquees_consultant_prestataire_local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personnes_impliquees_tiers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personnes_impliquees_tiers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personnes_impliquees_nombre_total_de_personnes_impliquees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personnes_impliquees_nombre_total_de_personnes_impliquees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incident_demande_suivi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incident_demande_suivi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incident_demande_suivi_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incident_demande_suivi_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.support_necessaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.support_necessaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.support_necessaire_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.support_necessaire_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rapport_rempli_par)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rapport_rempli_par)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_de_lenvoi_au_siege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_de_lenvoi_au_siege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rapport_traite_par)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rapport_traite_par)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mise_a_jour_du_cas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mise_a_jour_du_cas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mise_a_jour_du_cas_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mise_a_jour_du_cas_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_remplir_par_le_siege_numero_de_lincident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_remplir_par_le_siege_numero_de_lincident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_remplir_par_le_siege_recu_par)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_remplir_par_le_siege_recu_par)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_remplir_par_le_siege_recu_par_autre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_remplir_par_le_siege_recu_par_autre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_remplir_par_le_siege_traite_au_siege_par)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_remplir_par_le_siege_traite_au_siege_par)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_remplir_par_le_siege_montant_chf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_remplir_par_le_siege_montant_chf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_remplir_par_le_siege_mise_a_jour_recommandation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_remplir_par_le_siege_mise_a_jour_recommandation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_remplir_par_le_siege_date_de_fermeture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_remplir_par_le_siege_date_de_fermeture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_remplir_par_le_siege_statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_remplir_par_le_siege_statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.langue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.langue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
