@using PagedList;
@using System;
@using PagedList.Mvc;
@using TdH.Utils
@using TdH_2.Models;
@using TdH.Utils;
@model TdH_2.ViewsModels.FraudsViewBag
@{
    ViewBag.Title = "Index";
    if (ViewBag.CurrentSort != null)
    {
        ViewBag.SortIcon = "<i class=\"fa " + (ViewBag.CurrentSort.Split('-')[1] == "asc" ? "fa-sort-asc" : "fa-sort-desc") + "\" style=\"float:right;\" />";
    }
    else
    {
        ViewBag.CurrentSort = "";
    }
}
<h3>
    <strong>LISTE DES RAPPORTS<span class="color"> FRAUDE / CORRUPTION / VOL </span></strong><br />
</h3>

@if (@TempData["message"] != null)
{
    <div class="alert alert-@TempData["css"] alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["message"]
    </div>
}

<table class="table table-responsive table-hover">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Fraud[0].lieu_incident)
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Fraud[0].zone).ToString()), "Index", new { sortOrder = Model.SortParams("zone")})
            @(ViewBag.CurrentSort.Split('-')[0] == "zone" ? Html.Raw(ViewBag.SortIcon) : "")
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Fraud[0].pays).ToString()), "Index", new { sortOrder = Model.SortParams("pays") })
            @(ViewBag.CurrentSort.Split('-')[0] == "pays" ? Html.Raw(ViewBag.SortIcon) : "")
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Fraud[0].gravite_incident).ToString()), "Index", new { sortOrder = Model.SortParams("gravite_incident") })
            @(ViewBag.CurrentSort.Split('-')[0] == "gravite_incident" ? Html.Raw(ViewBag.SortIcon) : "")
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Fraud[0].responsabilite_tdh).ToString()), "Index", new { sortOrder = Model.SortParams("responsabilite_tdh") })
            @(ViewBag.CurrentSort.Split('-')[0] == "responsabilite_tdh" ? Html.Raw(ViewBag.SortIcon) : "")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fraud[0].resume_incident)
        </th>

        <th></th>
    </thead>
    @using (Html.BeginForm())
    {
        <thead>
            <td>
                @Html.EditorFor(model => model.LikeSearch["lieu_incident"], new { htmlAttributes = new { @class = "form-control", @Value = Model.LikeSearch["lieu_incident"] } })
            </td>
            <td>
                @Html.EditorFor(model => model.LikeSearch["zone"], new { htmlAttributes = new { @class = "form-control", @Value = Model.LikeSearch["zone"] } })
            </td>
            <td>
                @Html.EditorFor(model => model.LikeSearch["pays"], new { htmlAttributes = new { @class = "form-control", @Value = Model.LikeSearch["pays"] } })
            </td>
            <td>
                @Html.EditorFor(model => model.LikeSearch["gravite_incident"], new { htmlAttributes = new { @class = "form-control", @Value = Model.LikeSearch["gravite_incident"] } })
            </td>
            <td>
                @Html.EditorFor(model => model.LikeSearch["responsabilite_tdh"], new { htmlAttributes = new { @class = "form-control", @Value = Model.LikeSearch["responsabilite_tdh"] } })
            </td>
            <td>
                @Html.EditorFor(model => model.LikeSearch["resume_incident"], new { htmlAttributes = new { @class = "form-control", @Value = Model.LikeSearch["resume_incident"] } })
            </td>
        <td colspan="2">
            <input type="submit" value="Rechercher" class="btn btn-default" />
        </td>
        </thead>
    }

    @foreach (var item in Model.Fraud)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lieu_incident)
                </td>
                <td>
                    @TranslateManager.getTranslateFor(item.listZones, item.zone)
                </td>
                <td>
                    @TranslateManager.getTranslateFor(item.listPays, item.pays)
                </td>
                <td>
                    @TranslateManager.getTranslateFor(item.listGraviteIncidents, item.gravite_incident)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.responsabilite_tdh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.resume_incident)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "fa fa-pencil-square-o fa-2x" })
                </td>
                <td>
                    @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "fa fa-times fa-2x" })
                </td>
            </tr>
        </tbody>
    }

</table>
<br />
Page @(ViewBag.pagination.PageCount < ViewBag.pagination.PageNumber ? 0 : ViewBag.pagination.PageNumber) of @ViewBag.pagination.PageCount

@Html.PagedListPager((IPagedList<frauds>)Model.Pagination, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))