@model TdH_2.Models.pse

@{
    ViewBag.Title = "Edit";
}

<h3>
    <strong>RAPPORT D'INCIDENT <span class="color"> VIOLATION DE LA SAUVEGARDE DE L'ENFANT </span></strong><br />
    <small>DOCUMENT INTERNE & CONFIDENTIEL</small>
</h3>
<p>
    <em>Ce rapport d’incident est à envoyer à la zone et à la Conseillère en Gestion des Risques (cam@tdh.ch).<br/><br/>
        Toute préoccupation concernant la sécurité et le bien-être d'un enfant dans les programmes et les activités de Tdh doit être signalée, dès qu’il y a une suspicion de violation ou une violation de la politique de sauvegarde de l’enfant.</em>
</p>

@using (Html.BeginForm("Edit", "pses", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.date_incident, htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.date_incident, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.date_incident, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.lieu_incident, htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.lieu_incident, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lieu_incident, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.zone, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.zone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.zone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.pays, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.pays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pays, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.gravite_incident, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.gravite_incident, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gravite_incident, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.responsabilite_tdh, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.responsabilite_tdh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.responsabilite_tdh, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <h3 class="color">@Html.LabelFor(model => model.resume_incident)</h3>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Merci de précisez</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.resume_incident, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.resume_incident, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <!-- ATTENTION FAUDRA METTRE LES CHECKBOX !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


        <h3 class="color">NATURE DE L'INCIDENT</h3>
        <div class="form-group">
            <div class="funkyradio col-md-3 col-md-offset-3">
                <div class="funkyradio-warning">
                    <input type="checkbox" name="checkbox" id="checkbox1" />
                    <label for="checkbox1">@Html.DisplayNameFor(model => model.violence_physique)</label>
                </div>
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(model => model.violence_physique_nature, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.violence_physique_nature, "", new { @class = "text-danger" })
            </div>
            <br/>
            <br />
            <div class="col-sm-2" style="padding-top:20px;">
                @Html.EditorFor(model => model.violence_physique_autre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.violence_physique_autre, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="funkyradio col-md-3 col-md-offset-3">
                <div class="funkyradio-warning">
                    <input type="checkbox" name="checkbox" id="checkbox1" />
                    <label for="checkbox1">@Html.DisplayNameFor(model => model.violence_sexuelle)</label>
                </div>
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(model => model.violence_sexuelle_nature, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.violence_sexuelle_nature, "", new { @class = "text-danger" })
            </div>
            <br />
            <br />
            <div class="col-sm-2" style="padding-top:20px;">
                @Html.EditorFor(model => model.violence_sexuelle_autre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.violence_sexuelle_autre, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="funkyradio col-md-3 col-md-offset-3">
                <div class="funkyradio-warning">
                    <input type="checkbox" name="checkbox" id="checkbox1" />
                    <label for="checkbox1">@Html.DisplayNameFor(model => model.violence_psychologique)</label>
                </div>
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(model => model.violence_psychologique_nature, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.violence_psychologique_nature, "", new { @class = "text-danger" })
            </div>
            <br />
            <br />
            <div class="col-sm-2" style="padding-top:20px;">
                @Html.EditorFor(model => model.violence_psychologique_autre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.violence_psychologique_autre, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="funkyradio col-md-3 col-md-offset-3">
                <div class="funkyradio-warning">
                    <input type="checkbox" name="checkbox" id="checkbox1" />
                    <label for="checkbox1">@Html.DisplayNameFor(model => model.negligence)</label>
                </div>
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(model => model.negligence_nature, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.negligence_nature, "", new { @class = "text-danger" })
            </div>
            <br />
            <br />
            <div class="col-sm-2" style="padding-top:20px;">
                @Html.EditorFor(model => model.negligence_autre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.negligence_autre, "", new { @class = "text-danger" })
            </div>
        </div>

            <hr />
            <!-- PAS TOUCHE EN DESSUS !-->
            
            <h3 class="color">@Html.LabelFor(model => model.details_de_lincident)</h3>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Merci de précisez</label>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.details_de_lincident, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.details_de_lincident, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />

            <h3 class="color">PERSONNES CONCERNEES<br/><small>VICTIME / ENFANT</small></h3>
            <div class="form-group">
                @Html.LabelFor(model => model.victime_enfant_statut, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.victime_enfant_statut, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.victime_enfant_statut, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.victime_enfant_nom, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.victime_enfant_nom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.victime_enfant_nom, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.victime_enfant_date_de_naissance, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.victime_enfant_date_de_naissance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.victime_enfant_date_de_naissance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.victime_enfant_age, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.victime_enfant_age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.victime_enfant_age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.victime_enfant_sexe, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.victime_enfant_sexe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.victime_enfant_sexe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.victime_enfant_adresse, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.victime_enfant_adresse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.victime_enfant_adresse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.victime_enfant_handicap, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.victime_enfant_handicap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.victime_enfant_handicap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.victime_enfant_autre_information_importante, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.victime_enfant_autre_information_importante, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.victime_enfant_autre_information_importante, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <!-- PAS TOUCHE EN DESSUS !-->

        <h3 class="color">AGRESSEUR PRESUME DE LA VIOLATION PSE</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_statut, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_statut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_statut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_nom, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_position, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_age, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_sexe, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_sexe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_sexe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_statut_familial, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_statut_familial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_statut_familial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_nom_de_lemployeur, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_nom_de_lemployeur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_nom_de_lemployeur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_lien_avec_tdh, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_lien_avec_tdh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_lien_avec_tdh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_lien_avec_lenfant, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_lien_avec_lenfant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_lien_avec_lenfant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agresseur_autre_information_importante, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.agresseur_autre_information_importante, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.agresseur_autre_information_importante, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />


        <h3 class="color">PERSONNE SIGNALANT LA VIOLATION</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.personne_signalant_nom, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.personne_signalant_nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personne_signalant_nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personne_signalant_position, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.personne_signalant_position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personne_signalant_position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personne_signalant_adresse, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.personne_signalant_adresse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personne_signalant_adresse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personne_signalant_nom_de_lemployeur, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.personne_signalant_nom_de_lemployeur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personne_signalant_nom_de_lemployeur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personne_signalant_lien_avec_tdh, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.personne_signalant_lien_avec_tdh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personne_signalant_lien_avec_tdh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personne_signalant_lien_avec_lenfant, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.personne_signalant_lien_avec_lenfant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personne_signalant_lien_avec_lenfant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.personne_signalant_autre_information_importante, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.personne_signalant_autre_information_importante, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.personne_signalant_autre_information_importante, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr/>

        <h3 class="color">MESURES PRISES PAR LA DELEGATION A LA SUITE DE L’INCIDENT</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.mesures_prises_pour_proteger_lenfant, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.mesures_prises_pour_proteger_lenfant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mesures_prises_pour_proteger_lenfant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mesures_prises_pour_eviter_la_recidive, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.mesures_prises_pour_eviter_la_recidive, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mesures_prises_pour_eviter_la_recidive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mesures_prises_pour_proteger_laction_de_tdh, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.mesures_prises_pour_proteger_laction_de_tdh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mesures_prises_pour_proteger_laction_de_tdh, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <h3 class="color">INFORMATIONS SUPPLEMENTAIRES</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.informations_supplementaires_quest_ce_que_lenfant_souhaite, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.informations_supplementaires_quest_ce_que_lenfant_souhaite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informations_supplementaires_quest_ce_que_lenfant_souhaite, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.informations_supplementaires_de_quel_soutien_lenfant_a_t_il_besoin, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.informations_supplementaires_de_quel_soutien_lenfant_a_t_il_besoin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informations_supplementaires_de_quel_soutien_lenfant_a_t_il_besoin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.informations_supplementaires_qui_doit_apporter_ce_soutien, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.informations_supplementaires_qui_doit_apporter_ce_soutien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informations_supplementaires_qui_doit_apporter_ce_soutien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.informations_supplementaires_y_a_t_il_dautres_actions, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.informations_supplementaires_y_a_t_il_dautres_actions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informations_supplementaires_y_a_t_il_dautres_actions, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.informations_supplementaires_y_a_t_il_dautres_actions, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.informations_supplementaires_y_a_t_il_dautres_actions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informations_supplementaires_y_a_t_il_dautres_actions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.informations_supplementaires_qui_quand, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.informations_supplementaires_qui_quand, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informations_supplementaires_qui_quand, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.informations_supplementaires_qui_va_suivre, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.informations_supplementaires_qui_va_suivre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informations_supplementaires_qui_va_suivre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.informations_supplementaires_lecons_apprises, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.informations_supplementaires_lecons_apprises, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.informations_supplementaires_lecons_apprises, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <h3 class="color">@Html.LabelFor(model => model.recommandations_du_delegue)</h3>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Merci de précisez</label>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.recommandations_du_delegue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.recommandations_du_delegue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rapport_rempli_par, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.rapport_rempli_par, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rapport_rempli_par, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.date_de_lenvoi_au_siege, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.date_de_lenvoi_au_siege, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date_de_lenvoi_au_siege, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.rapport_traite_par, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.rapport_traite_par, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rapport_traite_par, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <h3 class="color">MISE A JOUR DU CAS</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.mise_a_jour_du_cas, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.mise_a_jour_du_cas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mise_a_jour_du_cas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mise_a_jour_du_cas_date, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.mise_a_jour_du_cas_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mise_a_jour_du_cas_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <h3 class="color">A REMPLIR PAR LE SIEGE</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.a_remplir_par_le_siege_numero_de_lincident, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.a_remplir_par_le_siege_numero_de_lincident, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a_remplir_par_le_siege_numero_de_lincident, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.a_remplir_par_le_siege_recu_par, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.a_remplir_par_le_siege_recu_par, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a_remplir_par_le_siege_recu_par, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.a_remplir_par_le_siege_recu_par_autre, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.a_remplir_par_le_siege_recu_par_autre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a_remplir_par_le_siege_recu_par_autre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.a_remplir_par_le_siege_traite_au_siege_par, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.a_remplir_par_le_siege_traite_au_siege_par, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a_remplir_par_le_siege_traite_au_siege_par, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.a_remplir_par_le_siege_mise_a_jour_recommandation, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.a_remplir_par_le_siege_mise_a_jour_recommandation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a_remplir_par_le_siege_mise_a_jour_recommandation, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.a_remplir_par_le_siege_date_de_fermeture, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.a_remplir_par_le_siege_date_de_fermeture, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a_remplir_par_le_siege_date_de_fermeture, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.a_remplir_par_le_siege_statut, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.a_remplir_par_le_siege_statut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.a_remplir_par_le_siege_statut, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.annee, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.annee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.annee, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.langue, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-sm-4">
                @Html.EditorFor(model => model.langue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.langue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Enregistrer" class="btn btn-primary btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
