@using PagedList;
@using PagedList.Mvc;
@using TdH.Utils
@using TdH_2.Models;
@using TdH.Utils;
@model List<pse>
@{
    ViewBag.Title = "Index";
}
<h3>
    <strong>LISTE DES RAPPORTS<span class="color"> PSE </span></strong><br />
</h3>

@if (@TempData["message"] != null)
{
    <div class="alert alert-@TempData["css"] alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["message"]
    </div>
}
<table class="table table-responsive table-hover">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model[0].lieu_incident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].zone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].gravite_incident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].responsabilite_tdh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].resume_incident)
        </th>

        <th></th>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lieu_incident)
                </td>
                <td>
                    @TranslateManager.getTranslateFor(item.listZones, item.zone)
                </td>
                <td>
                    @TranslateManager.getTranslateFor(item.listPays, item.pays)
                </td>
                <td>
                    @TranslateManager.getTranslateFor(item.listGraviteIncidents, item.gravite_incident)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.responsabilite_tdh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.resume_incident)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        </tbody>
    }

</table>
<br />

Page @(ViewBag.pagination.PageCount < ViewBag.pagination.PageNumber ? 0 : ViewBag.pagination.PageNumber) of @ViewBag.pagination.PageCount

@Html.PagedListPager((IPagedList<pse>)ViewBag.pagination, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))